/* ##################################################### */
/* ##################################################### */
/* ##                                                 ## */
/* ## Site ........: Desenvolvimento Internet         ## */
/* ## Autor .......: Manzano & Toledo                 ## */
/* ## Data ........: 10 de Janeiro de 2008            ## */
/* ## Versao ......: 1.0                              ## */
/* ## Arquivo .....: cssaplic_09.css                  ## */
/* ##                                                 ## */
/* ##################################################### */
/* ##################################################### */

h1 {
  margin: 80px 40px 30px 60px;
}

body {
  margin: 12px 70px 50px 80px;
}

p {
  text-align: justify;
}
