/* ##################################################### */
/* ##################################################### */
/* ##                                                 ## */
/* ## Site ........: Desenvolvimento Internet         ## */
/* ## Autor .......: Manzano & Toledo                 ## */
/* ## Data ........: 10 de Janeiro de 2008            ## */
/* ## Versao ......: 1.0                              ## */
/* ## Arquivo .....: cssaplic_18.css                  ## */
/* ##                                                 ## */
/* ##################################################### */
/* ##################################################### */

body {
  outline-color: blue;
  outline-style: dashed;
  outline-width: medium;
}

p {
  text-align: justify;
  outline-color: red;
  outline-style: solid;
  outline-width: thin;
}

p:first-letter {
  background-color: white;
  color: red;
  font-size: 200%;
}

p:first-line { 
  background-color: white;
  color: green;
}
