/* ##################################################### */
/* ##################################################### */
/* ##                                                 ## */
/* ## Site ........: Desenvolvimento Internet         ## */
/* ## Autor .......: Manzano & Toledo                 ## */
/* ## Data ........: 10 de Janeiro de 2008            ## */
/* ## Versao ......: 1.0                              ## */
/* ## Arquivo .....: cssaplic_05.css                  ## */
/* ##                                                 ## */
/* ##################################################### */
/* ##################################################### */

h1 {
  text-align: center;
  font: italic small-caps bolder 22pt "Times New Roman", serif;
}

p {
  text-align: justify;
  font: normal normal normal 12pt/19pt "Courier New", monospace;
}

p.centro {
  text-align: center;
  font: oblique normal lighter medium serif;
}
